<mat-drawer-container class="example-container" autosize (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)">
  <mat-drawer #drawer class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'">
    <!-- <button class="my-sidenav-section" mat-button [routerLink]="['marktplaats-nl/']">marktplaats.nl</button>
    <mat-divider></mat-divider> -->
    <button class="my-sidenav-subsection" mat-button [routerLink]="['marktplaats-nl/selling']">selling</button>
    <mat-divider></mat-divider>
    <button class="my-sidenav-subsection" mat-button [routerLink]="['marktplaats-nl/buying']">buying</button>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-slide-toggle [(ngModel)]="isLoggingEnabled" (change)="onLoggingChange()"><span
        class="mat-small">Logging</span></mat-slide-toggle>
    <mat-divider></mat-divider>
    <mat-slide-toggle [(ngModel)]="isLocalhostApiServerEnabled" (change)="onSetLocalhostApiServer()"><span
        class="mat-small">Dev
        server</span></mat-slide-toggle>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>

<button class="sidenav-toggle-button" type="button" color="default" mat-stroked-button (click)="drawer.toggle()">
  @if (drawer.opened) {
  Close side navigation
  } @else {
  Open side navigation
  }
</button>