<div id="pre-footer"></div>
<footer id="footer" [style]="footerOpacity">
  <button mat-button color="default" disabled>© 2024 Software Engineer Vinokurov</button>
  <button mat-button disabled>kvk: 86580426</button>
  <button mat-button disabled>btw-id: NL004272161B66</button>
  <button mat-button color="default" (click)="openTermsDialog()">terms</button>
  <a mat-button color="primary" href="https://twitter.com/negotiateninja" target="_blank">x</a>
  <a mat-button color="primary" href="https://discord.gg/KkUQ7CJQ" target="_blank">discord</a>
  <a mat-button color="primary" href="https://t.me/+90wdLzaiCI02MzEy" target="_blank">telegram</a>
  <a mat-button color="primary" href="https://www.tiktok.com/@negotiateninja" target="_blank">tiktok</a>
  <a mat-button color="primary" href="https://www.facebook.com/groups/negotiate.ninja/" target="_blank">facebook</a>
  <a mat-button color="primary" href="https://www.linkedin.com/groups/12950320/" target="_blank">linkedin</a>
</footer>