<mat-progress-bar mode="query" *ngIf="downloading"></mat-progress-bar>

<section class="content">
  <h2 class="mat-h2">Usage history</h2>
  @if (usageHistory?.updated_at) {
  <p>Updated {{formatTimestamp(usageHistory!.updated_at!)}}</p>
  }

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let record"> {{record.id}} </td>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time"> Updated at </th>
      <td mat-cell *matCellDef="let record"> {{formatTimestamp(record.updated_at)}} </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by service"> Service </th>
      <td mat-cell *matCellDef="let record"> {{record.service}} </td>
    </ng-container>

    <ng-container matColumnDef="usage_cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost"> Cost </th>
      <td mat-cell *matCellDef="let record"> {{record.usage_cost}} </td>
    </ng-container>

    <ng-container matColumnDef="balance_before">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance (at the moment)">
        Balance before </th>
      <td mat-cell *matCellDef="let record"> {{record.balance_before}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</section>