.content {
  padding-left: 20%;
  padding-right: 20%;
  border: solid 1px var(--debug-color);
  border-radius: 0px;
  min-height: 100vh;
}

.team-player {
  width: 400px;
  /* border: solid 1px var(--debug-color); */
  border-radius: 50px;
}


.call-to-action {
  border: solid 4px red;
  border-radius: 30px;
  padding: 30px;
}

.call-to-action-subscribe {
  border: solid 12px violet;
  border-radius: 30px;
  padding: 30px;
}

/* .cta-button {
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 36px;

  font-size: 1.6rem;
} */

.centered {
  text-align: center;
}


@media (min-width: 500px) and (max-width: 1200px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 499px) {
  .content {
    padding-left: 0%;
    padding-right: 0%;
  }

  .team-player {
    width: 100%;
  }
}