<div class="about">
  <div class="about-content">

    <h1 class="mat-h1">About</h1>

    <!-- [Introduction to 'Negotiate Ninja': A brief overview of what "Negotiate Ninja" is and its primary purpose. Highlight
    what makes your service unique.] -->

    <p>
      Negotiate Ninja is a groundbreaking browser plugin designed to revolutionize the way you
      negotiate online. At its core, Negotiate Ninja is an AI-powered assistant, utilizing the advanced capabilities of
      OpenAI's GPT-4 to provide real-time, context-aware suggestions for your online sales conversations. Whether you're
      a seasoned seller tired of repetitive queries or a novice looking to refine your negotiation tactics, Negotiate
      Ninja is your go-to tool for crafting compelling responses that resonate with your buyers.
    </p>

    <p>
      What sets Negotiate Ninja apart is its unique ability to seamlessly integrate into any online chat environment,
      offering tailored advice and responses that evolve with the conversation. It's like having a negotiation expert by
      your side, providing insights and suggestions tailored to each interaction. This not only saves time but also
      enhances the quality of your communications, ensuring you never miss an opportunity to make a positive impression
      or close a sale effectively.
    </p>

    <p>
      Designed with simplicity and efficiency in mind, Negotiate Ninja is perfect for online marketplaces, particularly
      during our beta phase on <a href="https://marktplaats.nl" target="_blank">marktplaats.nl</a>. Our <a
        [routerLink]="['/help']" fragment="freemium-and-premium-plans">freemium</a> model is designed to be accessible,
      providing weekly credits
      for users to experience the full range of our service's capabilities. This innovative approach to online
      negotiation not only simplifies your sales process but also empowers you with the tools to negotiate smarter, not
      harder.
    </p>

    <h2 class="mat-h2">Mission and Vision Statements</h2>

    <!-- [Clearly state the mission and vision of "Negotiate Ninja." This helps visitors understand your goals and the values
    that drive your company.] -->

    <p>
      At Negotiate Ninja, our <strong>mission</strong> is to simplify the online interaction experience. We recognize
      the challenges
      posed by online chats on web pages – from navigating conversations with unprepared users to engaging with basic
      bots. Our goal is to eliminate these inefficiencies and frustrations. By leveraging the power of advanced AI,
      specifically OpenAI's ChatGPT, we provide a tool that is knowledgeable, capable, and tirelessly efficient.
      Negotiate Ninja is not just a browser plugin; it's a commitment to enhancing online communication, making it more
      productive and less tedious for everyone involved. We strive to take on the mundane aspects of online
      interactions, allowing our users to focus on what truly matters to them.
    </p>

    <p>
      Our <strong>vision</strong> at Negotiate Ninja is to revolutionize the way people interact online. In a world
      increasingly reliant
      on digital communication, we see a future where every chat is seamless, effective, and effortless. Through the
      continuous integration of cutting-edge AI technology, we aim to transform online chats from a potential source of
      frustration into a streamlined and satisfying experience. Our long-term aspiration is to become an indispensable
      part of daily online interactions, universally recognized for making people's digital lives not just easier, but
      also more engaging and fulfilling. We envision Negotiate Ninja at the forefront of this change, leading the way
      towards a smarter, more connected, and hassle-free online world.
    </p>

    <h2 class="mat-h2">History and Background</h2>

    <!-- [Share the story of how "Negotiate Ninja" was founded, its journey, and major milestones.
    This adds a personal touch and helps build a connection with the audience.] -->

    <p>
      The story of Negotiate Ninja began with a simple yet innovative idea. Faced with the challenge of frequent and
      often unreasonable discount requests on marktplaats.nl, the concept for Negotiate Ninja was born on a Friday
      morning
      in October 2023. The initial development led to the creation of a command-line tool that could list marktplaats
      conversations and suggest responses using ChatGPT, transforming the way negotiations were handled on the
      platform.
    </p>

    <p>
      The project evolved quickly. The tool was integrated into a Telegram Bot, becoming a sophisticated selling
      assistant
      capable of fetching messages, providing product descriptions from marktplaats.nl, and offering enhanced ChatGPT
      suggestions for responses. This feature allowed users to regenerate suggestions if needed, adding a layer of
      customization and control.
    </p>

    <p>
      Early success was evident. Even in its initial version, the tool demonstrated its potential by facilitating a
      successful deal, showcasing the effectiveness of ChatGPT's elaborate and persuasive answers. As
      development progressed, new features were added, including the ability to change the context used by ChatGPT, save
      authentication cookies for marktplaats.nl, and manage user activation and quota on OpenAI usage. These
      advancements
      were critical steps towards making Negotiate Ninja a paid service, with a focus on user experience and
      sustainability.
    </p>

    <p>
      The journey of Negotiate Ninja has been marked by innovation and user-focused development, with ongoing efforts to
      partner with marktplaats.nl for API integration and expand the service's capabilities. From its
      inception, Negotiate Ninja has been more than just a tool; it's a testament to the power of AI in enhancing online
      negotiation and a commitment to making digital interactions more efficient and effective.
    </p>

    <p>[<a href="https://aleksandr.vin/2023/10/24/chatgpt-for-marktplaats.html" target="_blank">Original post</a>]
    </p>

    <h2 class="mat-h2">Team</h2>

    <!-- [Introduce the team behind "Negotiate Ninja." Include brief bios and photos of key team members,
    showcasing their expertise and roles in the company.] -->

    <img class="team-player" src="/assets/Aleks.jpg">
    <p>
      My name is Aleksandr Vinokurov, a friendly guy who enjoys life in the 🇳🇱 with his wife and daughters.
      I have a passion for ⛵️, playing the 🎷, and continuously learning new things. With over 18 years of
      professional experience, I've dedicated my life to software development. I run a one-man company,
      <a href="https://aleksandr.vin/software-engineer-vinokurov/" target="_blank">Software Engineer
        Vinokurov</a>, where I specialize in providing software solutions and IT consultancy services.
    </p>

    <p>
      [<a href="https://www.linkedin.com/in/aleksandrvin/" target="_blank">LinkedIn</a>]
    </p>

    <h2 class="mat-h2">Customer Focus</h2>

    <!-- [Explain how your service benefits users and your commitment to customer satisfaction. Highlight any
    customer-centric policies, like support or customization options.] -->

    <p>
      Negotiate Ninja is dedicated to enhancing your online negotiation experience. Our service provides users with
      AI-powered assistance, offering real-time, context-sensitive suggestions for online sales conversations. This not
      only saves time but also increases the effectiveness of your communication, helping you to negotiate better deals
      and respond more confidently to potential buyers.
    </p>

    <p>
      We are deeply committed to customer satisfaction. Our user-friendly interface is designed for ease of use, and we
      continuously update our service based on <a [routerLink]="['/help']" fragment="feedback-and-suggestions">user
        feedback</a>. For customization, users can adjust the AI's response
      style and context to suit their specific needs, ensuring that the suggestions remain relevant and personal.
    </p>

    <p>
      Furthermore, we prioritize responsive and helpful <a [routerLink]="['/help']"
        fragment="contact-and-support">customer support</a>. Whether you have questions about the plugin,
      need assistance with setup, or want to share feedback, our team is readily available to ensure a seamless
      experience. At Negotiate Ninja, we believe that our success is directly linked to the satisfaction and success of
      our users, and we strive to provide a service that is not only innovative but also truly user-centric.
    </p>

    <!-- <h2 class="mat-h2">Achievements and Recognition</h2>

    [: If applicable, mention any awards, recognitions, or notable achievements that Negotiate Ninja has received.] -->

    <!-- <h2 class="mat-h2">Social Responsibility and Values</h2>

    [: If your company engages in social responsibility initiatives or has strong core
    values, share these details. This can enhance your brand image and resonate with socially conscious consumers.] -->

    <!-- <h2 class="mat-h2">Future Goals</h2>

    [: Briefly discuss the future aspirations for Negotiate Ninja, such as upcoming features, long-term goals, or
    expansion plans.] -->

    <h2 class="mat-h2">Contact Information</h2>

    <!-- [: Provide ways for visitors to get in touch, whether for support, partnership inquiries, or
    feedback.] -->

    <p>
      To get in touch, whether for support, partnership inquiries, or feedback, please <a
        href="mailto:contact@aleksandr.vin?subject=About Negotiate Ninja&body=Hi, I saw the Negotiate Ninja about page, ">send</a>
      an email or reach out on
      <a href="https://twitter.com/negotiateninja" target="_blank">X</a>,
      <a href="https://discord.gg/9e9X6RXFgC" target="_blank">Discord</a>,
      <a href="https://t.me/+90wdLzaiCI02MzEy" target="_blank">Telegram</a>,
      <a href="https://www.tiktok.com/@negotiateninja" target="_blank">TikTok</a>,
      <a href="https://www.facebook.com/groups/negotiate.ninja/" target="_blank">Facebook</a> or
      <a href="https://www.linkedin.com/groups/12950320/" target="_blank">LinkedIn</a>, and
    </p>

    <p>
      ☞ don't forget to subscribe to our
      mailing list for updates!<br><br>
    </p>

    <!-- <h2 class="mat-h2">Call to Action</h2> -->

    <!-- [: End with a CTA, encouraging visitors to explore your services, sign up, or contact you for more
    information.] -->

    <!-- Call to Action -->

    @if (cta.includes("request-invite")) {
    <!-- <p class="call-to-action">
      Ready to enhance your negotiation skills?
      <br><br>
      ☞ Request beta access:
      <br><br>

      <span visibility="hidden">
      !!!!!!!! 08-01-2024 -- THIS COMPONENT BRINGS WEIRD ERRORS ON RECOMPILATION OF `ng serve`:

      ```
      ✘ [ERROR] TS-993004: Unable to import component MatFabButton.
        The symbol is not exported from /Users/aleksandrvin/Developer/software-engineer-vinokurov/negotiate-ninja-browser-extension/node_modules/@angular/material/button/index.d.ts (module '@angular/material/button'). [plugin angular-compiler]

          src/app/about/about.component.ts:24:13:
            24 │ export class AboutComponent {
              ╵              ~~~~~~~~~~~~~~

        The component is declared here.

          ../software-engineer-vinokurov/negotiate-ninja-browser-extension/node_modules/@angular/material/button/index.d.ts:164:0:
            164 │ export declare class MatFabButton extends MatButtonBase {
                ╵ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

      Application bundle generation failed. [0.108 seconds]
      ```
      </span>

      <nn-request-invite-form tags="about" (inviteRequestedEvent)="onRequest($event)"></nn-request-invite-form>
    </p> -->
    }

    @if (cta.includes("signup")) {
    <div class="call-to-action">
      <div class="centered regular-text">
        Ready to enhance your negotiation skills?
      </div>
      <br>
      <div class="centered regular-text">
        🌟 &nbsp;&nbsp; <button mat-fab extended class="cta-button" aria-label="icon-button with login icon"
          (click)="onSignup()">
          <mat-icon>check</mat-icon>
          SIGN-UP
        </button> &nbsp;&nbsp; 🌟
      </div>
    </div>
    }

    @if (cta.includes("subscribe")) {
    <p class="call-to-action-subscribe">
      ☞ Don't forget to subscribe to our
      mailing list for updates!<br><br>
      <nn-subscribe-form tags="about"></nn-subscribe-form>
    </p>
    }

  </div>
</div>