<div class="content">

  <div class="envelope-out">
    <div class="envelope">
      <div class="card">
        <h1 class="mat-h1">🌟 You're Invited! 🌟</h1>

        <h2 class="mat-h2">🎉 Exciting News! 🎉</h2>

        <p>
          We've set up an exclusive account just for you, <strong>{{ email }}</strong>!
        </p>

        <p class="centered">
          <button mat-raised-button class="cta-button" color="accent" (click)="onSetPassword()">Set Your
            Password</button>
        </p>

        <p>
          See you on the inside! 😉
        </p>
      </div>
    </div>
  </div>

</div>