.balance-card {
  min-width: 400px;
  display: inline-block;
  /* or 'inline-flex' depending on your layout needs */

}

.balance-card-content {
  white-space: nowrap;
  /* Prevents content from wrapping, adjust as needed */
}

.balance-value {
  font-size: 1000%;
}

.balance-currency {
  opacity: 30%;
  font-size: 1000%;
  padding-left: 0px;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .balance-value {
    font-size: 500%;
  }

  .balance-currency {
    font-size: 500%;
    padding-left: 0px;
  }
}

@media (max-width: 499px) {
  .balance-value {
    font-size: 400%;
  }

  .balance-currency {
    font-size: 400%;
    padding-left: 0px;
  }
}