<mat-progress-bar mode="query" *ngIf="downloading"></mat-progress-bar>
<section class="content">
  <h2 class="mat-h2">Balance</h2>

  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>User balance</mat-card-title>
      @if (user_balance.updated_at) {
      <mat-card-subtitle>Updated {{formatTimestamp(user_balance.updated_at)}}</mat-card-subtitle>
      }
    </mat-card-header>
    <mat-card-content class="balance-card-content">

      <span class="balance-value">{{user_balance.balance}}</span>
      <span class="balance-currency">{{user_balance.currency === 'EUR' ? '€' : user_balance.currency}}</span>
    </mat-card-content>
    <!-- <mat-card-actions>
    </mat-card-actions> -->
  </mat-card>
  <p></p>
  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>Current plan</mat-card-title>
      <!-- <mat-card-subtitle>Updated: {{user_balance.updated_at}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content class="balance-card-content">
      <p>
        <mat-chip-listbox aria-label="Active plan">
          @for (plan of plans; track plan) {
          <mat-chip-option [color]="plan.color" [selected]="plan.active"
            (click)="onPlanClick(plan.name)">{{plan.name}}</mat-chip-option>
          }
        </mat-chip-listbox>
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
    </mat-card-actions> -->
  </mat-card>
</section>