<mat-toolbar>
  <mat-menu #menu="matMenu">
    <div *ngIf="!(auth.isAuthenticated$ | async)">
      <button mat-menu-item aria-label="log-in button" (click)="onLogin()">
        <mat-icon>login</mat-icon>
        <span>Log-in</span>
      </button>
    </div>
    <div *ngIf="(auth.isAuthenticated$ | async)">
      <div *ngIf="auth.user$ | async as user">
        @if (isAdmin(user)) {
        <button mat-menu-item aria-label="admin button" [routerLink]="['/admin']">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </button>
        }
      </div>
      <button mat-menu-item aria-label="get started button" [routerLink]="['/get-started']">
        <mat-icon>start</mat-icon>
        <span>Get Started</span>
      </button>
      <button mat-menu-item aria-label="balance button" [routerLink]="['/balance']">
        <mat-icon>money</mat-icon>
        <span>Balance</span>
      </button>
      <button mat-menu-item aria-label="usage button" [routerLink]="['/usage']">
        <mat-icon>history</mat-icon>
        <span>Usage</span>
      </button>
      <button mat-menu-item aria-label="settings button" [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </div>
    <button mat-menu-item aria-label="help button" [routerLink]="['/help']">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-menu-item aria-label="about button" [routerLink]="['/about']">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <div *ngIf=" (auth.isAuthenticated$ | async)">
      <mat-divider></mat-divider>
      <button mat-menu-item aria-label="log-out button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Log-out</span>
      </button>
    </div>
  </mat-menu>
  <div [routerLink]="['/']">
    <span class="toolbar-brand">Negotiate Ninja</span>
  </div>
  <span class="toolbar-spacer"></span>
  <div *ngIf="!(auth.isAuthenticated$ | async)">
    <div *ngIf="showSignup">
      <button mat-fab extended aria-label="icon-button with login icon" (click)="onSignup()">
        <mat-icon>check</mat-icon>
        Sign-up
      </button>
    </div>
    <div *ngIf="showLogin">
      <button mat-fab extended aria-label="icon-button with login icon" color="primary" (click)="onLogin()">
        <mat-icon>login</mat-icon>
        Log-in
      </button>
    </div>
  </div>
  <div class="toolbar-user-name">
    <div *ngIf="auth.user$ | async as user">
      <span>{{ user.name }}</span>
      {{'&nbsp;&nbsp;'}}
    </div>
  </div>
  <div *ngIf="auth.user$ | async as user">
    <button mat-icon-button disabled class="icon" aria-label="icon-button with user profile picture"
      [matMenuTriggerFor]="menu">
      <img src="{{ user.picture }}" class="user-picture">
    </button>
  </div>
  <button mat-icon-button class="icon" aria-label="icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>