@if (downloading) {<mat-progress-bar mode="query"></mat-progress-bar>}
@if (uploading) {<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
<section class="content">

  @if (downloading) {
  <h1 class="mat-headline-1">
    @if (loadingTime < expLoadingTime) { <span>Loading in {{
      countDown() }}</span>
      } @else {
      <span>🙈 Maybe refreshing a page is not a bad idea anymore</span>
      }
  </h1>
  <div class="centered">
    <img #loadingLogoRef class="loading-logo" alt="Negotiate Ninja logo" src="/assets/logo-150.png">
  </div>
  }
  @else {
  @if (!user_preferences.terms_accepted_at) {
  <h1 class="mat-headline-2">Welcome to Negotiate Ninja!</h1>
  <h1 class="mat-headline-3">
    You've been signed up!
  </h1>
  <p>
    Before we continue, please take a moment to accept our Terms of Service. Your privacy and
    satisfaction are our top priorities.
  </p>
  <mat-card class="tos-card">
    <mat-card-header>
      <mat-card-title>Terms of Service</mat-card-title>
    </mat-card-header>
    <form class="tos-card-form" [formGroup]="formGroup" (ngSubmit)="submitTermsForm(formGroup)" ngNativeValidate>
      <mat-card-content class="tos-card-content-big">
        <mat-slide-toggle formControlName="acceptTerms">Accept Terms of Service</mat-slide-toggle>
        <!-- <p>Form Group Status: {{formGroup.status}}</p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="default" (click)="openTermsDialog()">READ</button>
        <button mat-button color="accent" type="submit" [disabled]="!formGroup.value.acceptTerms">SUBMIT</button>
      </mat-card-actions>
    </form>
  </mat-card>

  } @else {
  <!-- 
  <h1 class="mat-headline-1">headline-1</h1>
  <h1 class="mat-headline-2">headline-2</h1>
  <h1 class="mat-headline-3">headline-3</h1>
  <h1 class="mat-headline-4">headline-4</h1>
  <h1 class="mat-headline-5">headline-5 or h1</h1>
  <h1 class="mat-headline-6">headline-6 or h2</h1>
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4 or body-1</h4>
  <div class="mat-body">body</div>
  <div class="mat-body-strong">body-strong or subtitle-2</div>
  <div class="mat-small">small</div>
  <span>span</span> -->


  <h1 class="mat-headline-1">Getting Started</h1>

  <h1 class="mat-headline-2">Exciting News!</h1>

  <h1 class="mat-headline-4">
    Negotiate Ninja is currently in its beta, exclusively enhancing your experience on
    <a href="https://marktplaats.nl/messages" target="_blank">marktplaats.nl/messages</a>. Our smart browser
    extension
    is compatible with Chrome and Safari (macOS and iOS)!
  </h1>

  <h1>
    Our goal? To make your online selling and buying conversations more efficient and enjoyable.
  </h1>

  <p></p>

  <h1 class="mat-headline-4">Start with Our Freemium Plan</h1>

  <mat-card>
    <mat-card-content>
      As a new member, you're automatically enrolled in our Freemium plan. This gives you a complimentary €1 credit
      every week – that's about 20 suggestion requests, on us! It's our way of saying thank you for joining us on
      this
      journey.
    </mat-card-content>
  </mat-card>

  <p></p>
  <p></p>

  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Chrome</h1>
      </ng-template>
      <p></p>
      <h1 class="mat-headline-4">Install Browser Extension</h1>
      <mat-card class="centered">
        <mat-card-content>
          <h1 class="mat-headline-4">Download</h1>
          <img src="/assets/logo-150.png" width="80">
          <h1>Negotiate Ninja</h1>
          <a href="https://chromewebstore.google.com/u/1/detail/negotiate-ninja/damneflpjofipdhbpaaikpflhgdkcfcm"
            target="_blank"><img class="cws-badge" src="/assets/cws-medium-badge.png"></a>
          <p>
            Download our Negotiate Ninja extension from the <a
              href="https://chromewebstore.google.com/u/1/detail/negotiate-ninja/damneflpjofipdhbpaaikpflhgdkcfcm"
              target="_blank">Chrome Web Store</a>.
            <br>
          </p>
        </mat-card-content>
      </mat-card>

      <p></p>

      <h1 class="mat-headline-4">Enable the Extension</h1>

      <mat-card>
        <mat-card-content>
          Once you install the extension, enable it by switching-on the toggle in the Extensions window:
          open menu Window > Extensions (or type <u>chrome://extensions</u> in the seach bar).
          <p></p>
          In Site access section, ensure <span class="mat-body-strong">Negotiate Ninja</span> extension has the
          necessary access to: <u>https://link.marktplaats.nl/*</u> and <u>https://www.marktplaats.nl/*</u> sites.
          <p></p>
          Done!
        </mat-card-content>
      </mat-card>

      <h1 class="mat-headline-4"><img src="/assets/logo-150.png" width="80" style="transform: translateY(35%);">
        &nbsp;
        How It Works</h1>

      <mat-card>
        <mat-card-content>
          As you engage in a chat on <a href="https://marktplaats.nl/messages"
            target="_blank">marktplaats.nl/messages</a>,
          our extension seamlessly adds a 'Suggest a Reply' button.
          <p></p>
          [GIF of a zoom to 'Suggest a Reply' button]
          <p></p>
          Simply click it, and our tool automatically sends the chat content and product description to our server.
          <p></p>
          [GIF of a "analysis" effect to the messages]
          <p></p>
          Leveraging the power of ChatGPT, we generate a suggested reply tailored to your conversation. You can
          customize this in <a [routerLink]="['/settings']">Settings > Suggestions Context</a>.
          <p></p>
          [GIF of a typed-in suggestion]
          <p></p>
          Nothing is send to your opponnent yet. The generated reply is typed into the input area, so you can
          read it and correct if you desire to.
          <p></p>
          [GIF of a modification suggestion]
          <p></p>
          If you want, you can regenerate the suggestion by clicking the button 'Regenerate a Reply Suggestion'.
          <p></p>
          [Screenshot of a 'Regenerate a Reply Suggestion' button]
          <p></p>
          When you like the reply, you can send it the same way, as you did it originally, by clicking the 'Send'
          button.
          <p></p>
          [GIF of sending a reply]
        </mat-card-content>
      </mat-card>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Safari</h1>
      </ng-template>
      <p></p>
      <h1 class="mat-headline-4">Install Browser Extension</h1>
      <mat-card class="centered">
        <mat-card-content>
          <h1 class="mat-headline-4">Beta Test</h1>
          <img src="/assets/logo-150.png" width="80">
          <h1>Negotiate Ninja</h1>
          <!-- <div class="centered">
              <img src="/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" height="60px">
            </div> -->
          <p>
            We haven't forgotten you!
          </p>
          <p>
            While our release to App Store is in progress, you can still try it via <span
              class="mat-body-strong">TestFlight</span>.
          </p>
          <h1><a href="https://beta.itunes.apple.com/v1/app/6475016550" target="_blank">Open Invite</a></h1>
          <p>
            Check your email for an exclusive invite from us.
          </p>
        </mat-card-content>
      </mat-card>

      <p></p>

      <h1 class="mat-headline-4">Enable the Extension</h1>

      <mat-card>
        <mat-card-content>
          Safari extension is installed via app (macOS and/or iOS).
          <br>
          <br>
          Then
          <ul>
            <li><span class="mat-body-strong">On macOS:</span> open Safari Settings > Extensions</li>
            <li><span class="mat-body-strong">On iOS:</span> open Settings > Safari > Extensions</li>
          </ul>
          Allow the <span class="mat-body-strong">Negotiate Ninja</span> extension.
          <p></p>
          Ensure <span class="mat-body-strong">Negotiate Ninja</span> extension has the necessary
          permissions: allow it to access <u>marktplaats.nl</u> and <u>negotiate.ninja</u> sites.
          <p></p>
          Done!
        </mat-card-content>
      </mat-card>

      <h1 class="mat-headline-4"><img src="/assets/logo-150.png" width="80" style="transform: translateY(35%);">
        &nbsp;
        How It Works</h1>

      <mat-card>
        <mat-card-content>
          As you engage in a chat on <a href="https://marktplaats.nl/messages"
            target="_blank">marktplaats.nl/messages</a>,
          our extension seamlessly adds a 'Suggest a Reply' button.
          <p></p>
          [GIF of a zoom to 'Suggest a Reply' button]
          <p></p>
          Simply click it, and our tool automatically sends the chat content and product description to our server.
          <p></p>
          [GIF of a "analysis" effect to the messages]
          <p></p>
          Leveraging the power of ChatGPT, we generate a suggested reply tailored to your conversation. You can
          customize this in <a [routerLink]="['/settings']">Settings > Suggestions Context</a>.
          <p></p>
          [GIF of a typed-in suggestion]
          <p></p>
          Nothing is send to your opponnent yet. The generated reply is typed into the input area, so you can
          read it and correct if you desire to.
          <p></p>
          [GIF of a modification suggestion]
          <p></p>
          If you want, you can regenerate the suggestion by clicking the button 'Regenerate a Reply Suggestion'.
          <p></p>
          [Screenshot of a 'Regenerate a Reply Suggestion' button]
          <p></p>
          When you like the reply, you can send it the same way, as you did it originally, by clicking the 'Send'
          button.
          <p></p>
          [GIF of sending a reply]
        </mat-card-content>
      </mat-card>

      <p></p> <!-- NOTE: this is needed to draw the shadow of last mat-card in this mat-tab -->
    </mat-tab>
  </mat-tab-group>

  <p></p>

  <h1 class="mat-headline-4">
    Start enhancing your online selling and buying experience today with Negotiate Ninja!
  </h1>

  <p></p>

  @if (cta.includes("subscribe")) {
  <div class="centered call-to-action-subscribe">
    <img src="/assets/logo-150.png" width="80">
    <br>
    ☞ Don't forget to subscribe to our mailing list for updates!
    <br><br>
    <nn-subscribe-form tags="landing"></nn-subscribe-form>

  </div>
  }
  }
  }
</section>