.brang-logo {
  width: 40%;
}

.brang-logo-content {
  display: flex;
  justify-content: center;
  /* Aligns image horizontally */
  align-items: center;
  /* Aligns image vertically if the container has a specified height */
}

.landing-page-content {
  padding-left: 20%;
  padding-right: 20%;
  border: solid 1px var(--debug-color);
  border-radius: 0px;
  min-height: 100vh;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.9);
  /* Darkening effect */

  opacity: 0.96;

  z-index: -1;

}

* {
  color: white;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-top: 10vh;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  margin-top: 4vh;
  line-height: 1.4;
}

ul {
  font-size: 1.8rem;
  margin-top: 0vh;
  line-height: 1.4;
}

li {
  margin-top: 1vh;
}

q {
  color: lightblue;

  line-height: 1.4;
  font-style: italic;
}

.testimonial {
  margin-top: 5vh;
  padding-left: 10vh;
  font-size: 1.6rem;
}

.testimonial-author {
  text-align: right;
  width: 100%;
}

.call-to-action {
  border: solid 4px red;
  border-radius: 30px;
  padding: 30px;
}

.image-container {
  margin-left: 0;
  /* Removes any left margin */
  padding-left: 0;
  /* Ensures there's no padding on the left */
  position: absolute;
  /* Positions the element absolutely within its relative container */
  left: 0;
  /* Aligns the element to the left edge of the container */

  display: inline-block;
  /* Or another display type as needed */
}

.image-in-action {
  margin-left: 0;
  /* Removes any left margin */
  padding-left: 0;
  /* Ensures there's no padding on the left */
  position: absolute;
  /* Positions the element absolutely within its relative container */
  left: 0;
  /* Aligns the element to the left edge of the container */

  display: block;
}

.image-in-action-spacer {
  opacity: 0.0;
}

.image-options {
  position: absolute;
  left: 100px;
  /* Aligns with the left of .image-in-action */
  top: 0;
  /* Aligns with the top of .image-in-action */
  /* other styling as needed */

  display: block;

  padding-top: 5vh;
  padding-left: 16vw;
}

@media (max-width: 750px) {
  #background-video {
    display: none;
  }

  .video-container {
    background: url("/assets/landing-page-poster.jpg") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1199px) and (max-width: 1600px) {
  .brang-logo {
    width: 80%;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .brang-logo {
    width: 70%;
  }

  .landing-page-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 499px) {
  .brang-logo {
    width: 100%;
  }

  .landing-page-content {
    padding-left: 0%;
    padding-right: 0%;
  }
}