<div class="video-container">
  <video id="background-video" autoplay loop muted playsinline poster="/assets/landing-page-poster.jpg">
    <source src="https://negotiate-ninja-public.s3.eu-central-1.amazonaws.com/landing-page-background.mov"
      type="video/mp4">
  </video>
</div>

<div class="landing-page">
  <!-- <div class="brang-logo-content">
    <img class="brang-logo" src="/assets/logo.png" alt="Big logo of Negotiate Ninja brand">
  </div> -->

  <div class="landing-page-content">

    <!-- Headline -->
    <h1 class="mat-h1">Negotiate Like a Pro with Negotiate Ninja – Your AI-Powered Negotiation Assistant</h1>

    <!-- Subheadline -->
    <h2 class="mat-h2">Revolutionize your online sales conversations with cutting-edge AI suggestions. Join our Beta
      Testing now!</h2>

    <!-- Introduction Section -->
    <p>
      Welcome to Negotiate Ninja, the innovative browser plugin designed to transform your online negotiation skills.
      Whether you're selling on marketplaces, dealing with repetitive queries, or crafting the perfect sales pitch, our
      AI-driven assistant, powered by GPT-4 <i>(the same powerhorse that is running in ChatGPT)</i>, is here to guide
      you. Currently in beta on <u>marktplaats.nl</u>, we're excited to bring smart, context-aware negotiation
      suggestions right to your chat window.
    </p>

    <!-- How It Works -->
    <p></p>
    <h2 class="mat-h2">How It Works:</h2>
    <ul>
      <li><strong>Detect Conversations:</strong> Automatically identifies chat conversations on web pages.</li>
      <li><strong>AI-Powered Suggestions:</strong> Offers smart suggestions for responses based on the context of the
        conversation.</li>
      <li><strong>Improve Sales Pitch:</strong> Helps you craft compelling arguments and responses to close sales
        effectively.</li>
      <li><strong>Ease of Use:</strong> Seamlessly integrates into your online sales process.</li>
    </ul>

    <!-- Visuals:
         Screenshots of the plugin in action.
         [You can provide screenshots showing the plugin detecting a chat, suggesting a response, and any other key features.] -->


    <!-- Beta Testing Invitation -->
    <p>
      Join our Beta Testing Program! Experience the future of online negotiation on <u>marktplaats.nl</u>. As a beta
      tester, you'll enjoy free access with a weekly credit of €1, enough for about 20 AI suggestions. Your feedback
      will be invaluable in shaping the future of Negotiate Ninja.
    </p>

    <!-- Call to Action -->
    <p>
      Ready to enhance your negotiation skills? Request beta access by emailing us or reaching out on [social media
      platforms]. Don't forget to subscribe to our mailing list for updates!
    </p>

    <!-- Testimonials -->
    <div class="testimonial">
      <q>As a frequent seller, I've found Negotiate Ninja invaluable in managing repetitive queries and ensuring my
        responses are on point every time</q>
      <div class="testimonial-author">&mdash;&nbsp;&nbsp;&nbsp; Julia</div>
    </div>
    <div class="testimonial">
      <q>You're a True salesman Aleks</q>
      <div class="testimonial-author">&mdash;&nbsp;&nbsp;&nbsp; Meneer de Winter</div>
    </div>

    <!-- Footer: Links to social media, FAQs, terms of service, etc. -->

  </div>

</div>