<div class="video-container">
  <video id="background-video" autoplay loop muted playsinline poster="/assets/landing-page-poster.jpg">
    <source src="https://negotiate-ninja-public.s3.eu-central-1.amazonaws.com/landing-page-background.mov"
      type="video/mp4">
  </video>
</div>

<div class="landing-page">
  <!-- <div class="brang-logo-content">
    <img class="brang-logo" src="/assets/logo.png" alt="Big logo of Negotiate Ninja brand">
  </div> -->

  <div class="landing-page-content">
    <h1 class="mat-h1">Negotiate Ninja</h1>
    <h2 class="mat-h2">A browser extension,<br>that assists with online chat conversations</h2>

    <p>
      It automatically <u>detects</u> dialogs on web page,
      and <u>suggests</u> an answer<br>
      aiming at a specific goal that you set.
    </p>

    <p>
      It uses <strong>GPT-4</strong>, the same powerhorse that is running in ChatGPT.
    </p>

    <p>
      Good for <i>convincing</i> others.
      <br>
      Good for <i>negotiating</i>.
      <br>
      Good for <i>mental health</i>.
    </p>
  </div>

</div>