.brang-logo {
  width: 40%;
}

.brang-logo-content {
  display: flex;
  justify-content: center;
  /* Aligns image horizontally */
  align-items: center;
  /* Aligns image vertically if the container has a specified height */
}

.landing-page-content {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 140px;
  border: solid 1px var(--debug-color);
  border-radius: 0px;
  min-height: 100vh;

  position: relative;
  overflow-x: clip;
  width: 60vw;
  /* Prevent horizontal scroll */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.9);
  /* Darkening effect */

  opacity: 0.92;

  z-index: -1;

}

* {
  color: white;
}

h1 {
  font-size: 3rem;
  margin-top: 10vh;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  margin-top: 4vh;
  line-height: 1.4;
}

.regular-text {
  font-size: 1.8rem;
}

strong.mat-body-strong {
  font-size: 1.8rem;
}

.freemium-credit {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
  border: solid 6px gold;
  background: goldenrod;
  border-radius: 50px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 6px;
}

.browser-symbol {
  position: absolute;
  /* Positions the element absolutely within its relative container */
  left: 0;
  /* Aligns the element to the left edge of the container */

  z-index: -1;
}

.browser-title {
  padding-left: 60px;
}

ul {
  font-size: 1.8rem;
  margin-top: 0vh;
  line-height: 1.2;
}

li {
  margin-top: 2vh;
}

q {
  color: lightblue;

  line-height: 1.4;
  font-style: italic;
}

.testimonial {
  margin-top: 5vh;
  padding-left: 10vh;
  font-size: 1.6rem;
}

.testimonial-author {
  text-align: right;
  width: 100%;
}

.call-to-action {
  border: solid 12px red;
  border-radius: 30px;
  padding: 30px;
}

.call-to-action-subscribe {
  border: solid 12px violet;
  border-radius: 30px;
  padding: 30px;
}

.cta-button {
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 36px;

  /* padding-bottom: 4px; */
  font-size: 1.6rem;
}

.centered {
  text-align: center;
}

@media (max-width: 750px) {
  #background-video {
    display: none;
  }

  .video-container {
    background: url("/assets/landing-page-poster.jpg") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1199px) and (max-width: 1600px) {
  .brang-logo {
    width: 80%;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .brang-logo {
    width: 70%;
  }

  .landing-page-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    width: 90vw;

    /* Prevent horizontal scroll */
  }
}

@media (max-width: 499px) {
  .brang-logo {
    width: 100%;
  }

  .landing-page-content {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    width: 100vw;
    /* Prevent horizontal scroll */
  }
}