<div class="video-container">
  <video id="background-video" autoplay loop muted playsinline poster="/assets/landing-page-poster.jpg">
    <source src="https://negotiate-ninja-public.s3.eu-central-1.amazonaws.com/landing-page-background.mov"
      type="video/mp4">
  </video>
</div>

<div class="landing-page">
  <!-- <div class="brang-logo-content">
    <img class="brang-logo" src="/assets/logo.png" alt="Big logo of Negotiate Ninja brand">
  </div> -->

  <div class="landing-page-content">

    <!-- Headline -->
    <h1 class="mat-headline-2">Negotiate Like a Pro with Negotiate Ninja – Your AI-Powered Negotiation Assistant</h1>

    <!-- Subheadline -->
    <h2 class="mat-headline-3">Revolutionize your online sales conversations with cutting-edge AI suggestions.
      <!-- Join our Beta Testing now! -->
    </h2>

    <!-- Introduction Section -->
    <p>
      Welcome to Negotiate Ninja, the innovative browser plugin designed to transform your online negotiation skills.
      Whether you're selling on marketplaces, dealing with repetitive queries, or crafting the perfect sales pitch, our
      AI-driven assistant, powered by <strong class="mat-body-strong">GPT-4 </strong> <i>(the same powerhorse that is
        running in ChatGPT)</i>, is here to guide
      you.
    </p>
    <p>
      Currently in beta on <u>marktplaats.nl</u>,
      we're excited to bring smart, context-aware negotiation
      suggestions right to your chat window.
    </p>

    <div class="centered">

    </div>

    <!-- How It Works -->
    <h2 class="mat-headline-4"><img src="/assets/logo-150.png" width="120" style="transform: translateY(40%);"> &nbsp;
      How It Works</h2>
    <ul>
      <li><strong class="mat-body-strong">Detect Conversations:</strong> Automatically identifies chat conversations on
        web pages.</li>
      <li><strong class="mat-body-strong">AI-Powered Suggestions:</strong> Offers smart suggestions for responses based
        on the context of the
        conversation.</li>
      <li><strong class="mat-body-strong">Improve Sales Pitch:</strong> Helps you craft compelling arguments and
        responses to close sales
        effectively.</li>
      <li><strong class="mat-body-strong">Ease of Use:</strong> Seamlessly integrates into your online sales process.
      </li>
    </ul>

    <!-- Visuals:
         Screenshots of the plugin in action.
         [You can provide screenshots showing the plugin detecting a chat, suggesting a response, and any other key features.] -->
    <p></p>
    <hr>
    <p><img #chromeSymbolRef class="browser-symbol" alt="Chrome symbol" width="48px" height="48px"
        src="/assets/chrome-logo.svg"><span #inChromeTitleRef class="browser-title">In Chrome</span>
    </p>

    <nn-arranged-images left-img-src="/assets/Chrome marktplaats.png"
      left-img-alt="Negotiate Ninja in action on marktplaats in Chrome" central-img-src="/assets/Chrome options.png"
      central-img-alt="Negotiate Ninja options in Chrome" central-img-style="
        top: 0px;
        left: 150px;
        padding-top: 7vh;
        padding-left: 13vw;
        "></nn-arranged-images>

    <p></p>
    <hr>
    <p>
      <img #safariSymbolRef class="browser-symbol" alt="Safari symbol" width="48px" height="48px"
        src="/assets/Safari_browser_logo.svg"><span #inSafariTitleRef class="browser-title">In Safari</span>
    </p>
    <nn-arranged-images left-img-src="/assets/Safari marktplaats.png"
      left-img-alt="Negotiate Ninja in action on marktplaats in Safari" central-img-src="/assets/Safari options.png"
      central-img-alt="Negotiate Ninja options in Safari" central-img-style="
      top: 0px;
      left: 100px;
      padding-top: 5vh;
      padding-left: 16vw;
      "></nn-arranged-images>
    <br>
    <nn-arranged-images left-img-src="/assets/iPhone marktplaats.png"
      left-img-alt="Negotiate Ninja in action on marktplaats in Safari on iPhone"
      central-img-src="/assets/iPhone options.png" central-img-alt="Negotiate Ninja options in Safari on iPhone"
      central-img-style="
      top: 0px;
      left: 200px;
      padding-top: 0vh;
      padding-left: 25vw;
      "></nn-arranged-images>

    <!-- Beta Testing Invitation -->
    <p>
      Experience the future of online negotiation on <u>marktplaats.nl</u>. With Freemium plan, you'll enjoy 🆓🔁 weekly
      credit of <span class="freemium-credit">€1</span>, enough for
      about 2️⃣0️⃣ <strong class="mat-body-strong">AI suggestions</strong>. 🥷
    </p>

    <!-- Call to Action -->

    @if (cta.includes("request-invite")) {
    <!-- <p class="call-to-action">
      Ready to enhance your negotiation skills?
      <br><br>
      ☞ Request beta access:
      <br><br>

      <span visibility="hidden">
      !!!!!!!! 08-01-2024 -- THIS COMPONENT BRINGS WEIRD ERRORS ON RECOMPILATION OF `ng serve`:

      ```
      ✘ [ERROR] TS-993004: Unable to import component MatFabButton.
        The symbol is not exported from /Users/aleksandrvin/Developer/software-engineer-vinokurov/negotiate-ninja-browser-extension/node_modules/@angular/material/button/index.d.ts (module '@angular/material/button'). [plugin angular-compiler]

          src/app/about/about.component.ts:24:13:
            24 │ export class AboutComponent {
              ╵              ~~~~~~~~~~~~~~

        The component is declared here.

          ../software-engineer-vinokurov/negotiate-ninja-browser-extension/node_modules/@angular/material/button/index.d.ts:164:0:
            164 │ export declare class MatFabButton extends MatButtonBase {
                ╵ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

      Application bundle generation failed. [0.108 seconds]
      ```
      </span>

      <nn-request-invite-form tags="landing" (inviteRequestedEvent)="onRequest($event)"></nn-request-invite-form>
    </p> -->
    }

    @if (cta.includes("signup")) {
    <div class="call-to-action">
      <div class="centered regular-text">
        Ready to enhance your negotiation skills?
      </div>
      <br>
      <div class="centered regular-text">
        🌟 &nbsp;&nbsp; <button mat-fab extended class="cta-button signup-button"
          aria-label="icon-button with login icon" (click)="onSignup()">
          <mat-icon>check</mat-icon>
          SIGN-UP
        </button> &nbsp;&nbsp; 🌟
      </div>
    </div>
    }

    @if (cta.includes("subscribe")) {
    <p class="call-to-action-subscribe">
      ☞ Don't forget to subscribe to our
      mailing list for updates!<br><br>
      <nn-subscribe-form tags="landing"></nn-subscribe-form>
    </p>
    }

    <!-- Testimonials -->
    <div class="testimonial">
      <q>As a frequent seller, I've found Negotiate Ninja invaluable in managing repetitive queries and ensuring my
        responses are on point every time</q>
      <div class="testimonial-author">&mdash;&nbsp;&nbsp;&nbsp; Julia</div>
    </div>
    <div class="testimonial">
      <q>You're a True salesman Aleks</q>
      <div class="testimonial-author">&mdash;&nbsp;&nbsp;&nbsp; Meneer de Winter</div>
    </div>


    <h1 class="mat-headline-4"><img src="/assets/logo-150.png" width="120" style="transform: translateY(40%);"> &nbsp;
      Negotiate Ninja</h1>

    <!-- Footer: Links to social media, FAQs, terms of service, etc. -->

  </div>

</div>