@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Black.otf') format('opentype');
  font-weight: 900;
  /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-BlackItalic.otf') format('opentype');
  font-weight: 900;
  /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Bold.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-BoldItalic.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  /* Extra Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-ExtraLight.otf') format('opentype');
  font-weight: 200;
  /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  /* Extra Light */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Italic.otf') format('opentype');
  font-weight: 400;
  /* Normal */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Light.otf') format('opentype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-LightItalic.otf') format('opentype');
  font-weight: 300;
  /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Medium.otf') format('opentype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-MediumItalic.otf') format('opentype');
  font-weight: 500;
  /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Regular.otf') format('opentype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}