<div class="image-spacer-container" #imageSpacerContainerId>
  <!-- This container should recreate a combination of images of same height as visible ones -->
  <img #imageSpacerId draggable="false" [src]="leftImgSrc" alt="This is a not visible placeholder">
</div>

<div class="image-container" #imageContainerId>
  <img class="image-in-action" draggable="false" [src]="leftImgSrc" [alt]="leftImgAlt">
  <img class="image-options" #centralImgId draggable="false" [src]="centralImgSrc" [alt]="centralImgAlt"
    [style]="centralImgStyle">
</div>