.delete-account-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.delete-account-full-width {
  width: 100%;
}

.content {
  padding: 10%;
  /* border: solid 12px royalblue;
  border-radius: 24px; */
}

@media (min-width: 500px) and (max-width: 1200px) {
  .content {
    padding: 5%;
    /* border: solid 6px royalblue;
    border-radius: 12px; */
  }
}

@media (max-width: 499px) {
  .content {
    padding: 1%;
    /* border: solid 3px royalblue;
    border-radius: 6px; */
  }
}