<mat-progress-bar mode="query" *ngIf="downloading"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
<h2 class="mat-h2">Settings</h2>
<mat-card class="settings-card">
  <mat-card-header>
    <mat-card-title>Suggestions Context</mat-card-title>
    <mat-card-subtitle>Sets the goal for conversations</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="settings-card-content-big">
    <mat-form-field class="settings-card-full-width">
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" [(ngModel)]="user_preferences.suggestions_context"
        placeholder="..."></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!isChanged('suggestions_context')" color="primary" (click)="onSave()">SAVE</button>
    <button mat-button [disabled]="!isChanged('suggestions_context')" color="warn"
      (click)="onCancelEdit('suggestions_context')">CANCEL EDIT</button>
  </mat-card-actions>
</mat-card>